<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/productsAdmin.css">

    <title>Intercel - Products</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <p class="blueBar"></p>

        <form class="newProductForm" action="/products/create" method="GET">
            <div class="itemContainer">

                <label for="brand">Marca</label>
                
                <select name="brand" id="brand">
                    <% brandList.forEach( e => { %>
                        
                        <option value="<%=e.name%>"> <%= e.name %> </option>
                        
                        <% }) %> 
                        <option value="newBrand">otro</option>            
                </select>
            </div>
            
            <div class="itemContainer">

                <label for="model">Modelo</label>
                
                <select name="model" id="model">
                    <% modelList.forEach( e => { %>
                        
                        <option value="<%=e.model%>"> <%= e.model %> </option>
                        
                        <% }) %> 
                        <option value="newModel">otro</option>
                    </select>
            </div>
                    
            <button id="newProductButton" type="submit" class="button">Agregar</button> 

        </form>

        <section class="products">
                
            <% productList.forEach( e => {
                let brand = brandList.find( brandElement => brandElement.id == e.model.idBrand )
                
                %>
                <article>
                <a href="/products/<%=e.id%>">
                    <img src="/images/cellphones/<%= brand.name %>/<%= e.model.model %>/<%= e.imageOne %>" alt="<%= e.model.name %>">
                </a>
                    <div class="productFeatures">
                        <h3><%= e.model.model %></h3>
                        <p><%= brand.name %></p>
                        
                    </div>
  
                    <div class="productPrice">
                        <br>
                        <ul>
                            <li><%= e.color.name %></li>
                            <li><%= e.ram.storage %></li>
                            <li><%= e.price %></li>
                        </ul>
                    </div>
                    <div>
                        <form action="/products/<%=e.id%>/editProduct" method="GET">
                            <button class="adminButton" type="submit">Editar</button>
                        </form>
                        <form action="/products/<%=e.id%>?_method=DELETE" method="POST">
                            <button class="adminButton" type="submit">Eliminar</button>
                        </form>
                    </div>
            
                </article>
 
            <%}); %> 
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>