<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <title>Intercel - Editar producto</title>
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/editProduct.css">
    <!-- JS Validación de Edit -->
    <script src="/js/editValidation.js"></script>
    <!-- JS front search (todas las vistas) -->
    <script src="/js/headerDropdowns.js"></script>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <main>

        <div class="container">

        <a href="/"> <img src="/images/logos/Logo.svg" width="200" class="logoIntercel"> </a>
        <h2>Editar producto</h2>
            <form class="editForm" action="/products/<%=cellphoneToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <br>
                <div class="formControl brand">
                    <label>Brand</label>
                    <p><%=brandToUse.name%></p>
                </div>
                <div class="formControl model">
                    <label>Modelo</label>
                    <p><%=cellphoneToEdit.model.model%></p>
                </div>
                
                <div class="formControl color">
                    <label>Color</label>
                    <select name="color" id="color" class="dropdown-item">
                        <% colorList.forEach(color => { %>        
                            <option value="<%=color.id%>"<%= cellphoneToEdit.color.id === color.id ? "selected": "" %>><%= color.name %> </option>     
                        <% }) %> 
                    </select>        

                    <label>Imagen principal</label>
                    
                    <div class="imgInput">
                        <div class="currentImage">
                            <img src="/images/cellphones/<%= brandToUse.name %>/<%= cellphoneToEdit.model.model %>/<%= cellphoneToEdit.imageOne%>" alt="">
                        </div>  
                        <div>
                            <input type="file" name="imageOne" id="imageOne" accept = ".jpg, .png" class="inputControl" >
                            <span id="imageOneError"></span> 
                        </div>                                    
                    </div>

                <div class="formControl secondaryImages">
                    <label>Imagenes secundarias</label>
                    
                    <div class="secondaryImage">
                        <img src="/images/cellphones/<%= brandToUse.name %>/<%= cellphoneToEdit.model.model %>/<%= cellphoneToEdit.imageTwo%>" alt="<%= cellphoneToEdit.imageTwo%>">
                    </div> 
                    <input type="file" name="imageTwo" id="imageTwo" accept = ".jpg, .png" class="inputControl ">
                    <span id="imageTwoError"></span> 

                    <div class="secondaryImage">
                        <img src="/images/cellphones/<%= brandToUse.name %>/<%= cellphoneToEdit.model.model %>/<%= cellphoneToEdit.imageThree%>" alt="<%= cellphoneToEdit.imageThree%>">
                    </div> 
                    <input type="file" name="imageThree"  id="imageThree" accept = ".jpg, .png" class="inputControl ">
                    <span id="imageThreeError"></span> 

                </div>
                
                <div class="formControl price">
                    <label>Precio</label>
                    <input value="<%= locals.errors ? userInfo : cellphoneToEdit.price%>" id="price" type="text" name="price" class="inputControl" minlength="1">
                    <p id="priceError" class="errorMsg "><%= locals.errors ? errors.price.msg : ""%> </p>
                </div>
                <div class="formControl ram">
                    <label>Almacenamiento</label>
                    <select name="ram" id="ram" class="dropdown-item >
                        <% ramList.forEach(ram => { %>        
                            <option value="<%=ram.id%>" <%= cellphoneToEdit.ram.id === ram.id ? "selected": "" %>><%= ram.storage %> </option>     
                        <% }) %> 
                    </select> 
                
                    <label for="">Este producto esta en oferta?</label>
                    <div class="formRadio">
                        <input type="radio" name="offer" value='1' <%= cellphoneToEdit.offer == '1' ? 'checked': '' %> />Si
                        <input type="radio" name="offer" value='0' <%= cellphoneToEdit.offer == '0' ? 'checked': '' %> /> No
                    </div>
                
                </div>
            
                <button type="submit" class="formButton">Guardar cambios</button>
            
            </form>
        </div>

    </main>
    <!-- FOOTER -->

    <%- include('../partials/footer') %>
    
</body>
</html>