<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/products.css">

    <title>Intercel - Productos</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    
    <main>
        <p class="blueBar">
                
            <% if (locals.error != undefined){%>

                <span class="errorMsg"> <%=error.userValue.msg %></span>


            <% } %> 
        </p>
        
        <div class="title">
            <h2>Productos</h2>
            <p><%=brand%></p>
        </div>
        <section class="products">
                
            <% productList.forEach( e => {%>
                <article>
                <a href="/products/<%=e.id%>">
                    <div class="imgContainer">

                        <p><%=e.Main %></p>
                        
                    </div>
                    
                    <div class="productFeatures">
                        <h3><%= e.model %></h3>
                        <p><%= e.brand.name %></p>
                    </div>
  
                </a>
                </article>
 
            <%}); %> 
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>