<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <title>Intercel - Detalle</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

    
    
    <main>
        <a href="/products/list">Volver al Listado</a>
        <section class="productContainer">

            <article class="minorPhotosContainer">
                <% cellphones.forEach(cell => { %>
                    <div class="imgContainer">
                        <img src="/images/cellphones/<%= brand.name %>/<%= cellphone.model.model %>/<%= cell.imageOne%>" alt="Preview <%= cellphone.model.model %>">
                        <img src="/images/cellphones/<%= brand.name %>/<%= cellphone.model.model %>/<%= cell.imageTwo%>" alt="Preview <%= cellphone.model.model %>">
                        <img src="/images/cellphones/<%= brand.name %>/<%= cellphone.model.model %>/<%= cell.imageThree%>" alt="Preview <%= cellphone.model.model %>">
                    </div>
                                   
                <% }) %>
            </article>
           
            <article class="mainPhotoContainer">
                <div>
                    <img src="/images/cellphones/models/<%= cellphone.model.mainImage%>" alt="Celular  <%= cellphone.model.model %>">
                </div>
            </article>
                
            <article class="containerInformation">
                <section>
                    <h2 class="brand"><%= brand.name %></h2>
                    <h1 class="phoneName"><%= cellphone.model.model %></h1>
                    <p class="description"><%= cellphone.model.description %></p>
                </section>
                
                <section class="bottomInfo">
                    <% if (cellphones.length == 0) { %>
                        <div>    
                            <h3 style="color:firebrick">Sin Stock</h3>
                        </div>
                        
                        <% } else { %>            
                            <% cellphones.forEach(cell => { %>
                                
                                <div class="stockContainer">
                                    <div>    
                                        <h3>Color</h3>
                                        <p><%= cell.color.name %> </p>
                                    </div>
                                    
                                    <div>
                                        <h3>Memoria Ram</h3>
                                        <p><%= cell.ram.storage %> </p>
                                    </div>
                                    
                                    <div>
                                        <h3><%= cell.offer == 0 ? 'Precio' : 'En Oferta' %></h3>
                                        <p>US$ <%= cell.price %> </p>
                                    </div>
                                                    
                                    <button>Agregar al Carrito  <i class="fas fa-shopping-cart" id="carritoIconBody"></i></button>
                                    
                                </div>
                            <% }) %>      
                        <% } %>
                
                            
                    </section>

                
            </article>
        
        </section>
        <section class="containerRelated">
            
            <div class="InformationRelated">
                <p class="brandRelated">Más de <span><%= brand.name %></span></p>
                <div class="logoRelated"><img src="/images/logos/<%=brand.name %>.svg" alt="Samsung Logo"></div>
            </div>
            <% relatedList.forEach(e => {%>
                <div class="photoContainerRelated">
                    <a href="/products/<%=e.id%>"><img src="/images/cellphones/models/<%=e.mainImage%>" alt="Preview <%=e.model%>"><p class="NameRelated"><%=e.model%></p></a>   
                </div>
            <%}); %>


        </section>
        

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>