<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <title>Intercel - Detalle</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    
    <main>
        <a href="/products/list">Volver al Listado</a>
        <section class="productContainer">
            
            
            <article class="mainPhotoContainer">
            
                <div><img src="/images/cellphones/<%= brand.name %>/<%= cellphone.model.model %>/<%= cellphone.imageOne%>" alt="Celular  <%= cellphone.model.model %>"></div>
            
            </article>
                
            <article class="containerInformation">
                <div>
                    <h2 class="brand"><%= brand.name %></h2>
                    <h1 class="phoneName"><%= cellphone.model.model %></h1>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dicta autem commodi eum consequatur deserunt. Qui vitae illo sint tempore accusamus? Cum blanditiis excepturi, nam perferendis doloribus consequatur nulla voluptatum.</p>
                
                <div class="bottomInfo">
                    <div class="containerPrice">
                        <h3>Precio</h3>
                        <p>US$ <%= cellphone.price%></p>
                    </div>
            
                    <button>Agregar al Carrito  <i class="fas fa-shopping-cart" id="carritoIconBody"></i></button>
                            
                </div>
                <form  class= "bottomInfo" action="/products/<%=cellphone.id%>/editProduct" method="GET">
                    <button type="submit">Editar</button>
                </form>
                <form  class= "bottomInfo" action="/products/<%=cellphone.id%>?_method=DELETE" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
                
            </article>
        
        </section>
        

    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>