<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %> 
    <title>Intercel - Editar</title>
    <link rel="stylesheet" href="/css/NewEditProduct.css">
    <link rel="stylesheet" href="/css/headerFooter.css">
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %>

        <div class="container">
        <a href="/"> <img src="/images/logos/Logo.svg" width="200"> </a>
        <h2>Editar producto</h2>
            <form class="createForm" action="/" method="POST">
                <br>
                <div class="formControl">
                    <label>Modelo</label>
                    <input placeholder="<%=product.model %>" type="email" name="email" class="inputControl" required>
                </div>
                <div class="formControl">
                    <label>Descripción del producto</label>
                    <input placeholder="<%=product.description %>" type="text" name="description" class="inputControl" minlength="10">
                </div>
                <div class="formControl">
                    <label>Imagen</label>
                    <input type="file" name="photo" accept = ".jpg, .png" required multiple>
                    <%# <img src="/images/Iphone.png" alt="">  %>                    
                </div>
                <div class="formControl">
                    <label>Precio</label>
                    <input placeholder="$<%=product.price%>" type="tel" name="price" class="inputControl" minlength="1" required>
                </div>
                <div class="formControl">
                    <label>Alto</label>
                    <input placeholder="<%=product.high %>" type="number" step="0.1" name="high" class="inputControl" minlength="1" required>
                </div>
                <div class="formControl">
                    <label>Ancho</label>
                    <input placeholder="<%=product.width %>" type="number" step="0.1" name="width" class="inputControl" minlength="1" required>
                </div>
            
                <button type="submit" class="formButton">Guardar cambios</button>
            
            </form>
        </div>
        
    <!-- FOOTER -->
    <footer>
        <%- include('partials/footer') %>
    </footer>
    
</body>
</html>