<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/home.css">

    <!-- JS front search (todas las vistas) -->
    <script src="/js/searchBar.js"></script>
        

    <title>Intercel</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %>
    <main>

        <section class="carouselContainer">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner"></div>
                <div class="carousel-item active" id="slide1">
                </div>
                <div class="carousel-item" id="slide2"></div>
                <div class="carousel-item" id="slide3"></div>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            
            <a href="#" class="btn btn-lg btn-primary">
            Ver producto  
            </a>
        </section>

        <section class="brandsContainer">
            
            <% brandsRandomize.forEach( brand => { %>
                <article class="brandsImgContainer"><a href="/products/list/<%=brand.name%>"><img src="/images/logos/<%=brand.name%>.svg" alt="<%=brand.name%> logo"></a></article>    
            <%}); %> 

        </section>
        
        <section class="offersContainer">
            <h2>Ofertas</h2>
            
            <% offerRandomize.forEach( (e) => { %>
                <article class="offersProductContainer">
                    <a href="/products/<%=e.model.id%>">
                        <h3 class="offersProductoNombre"><%=e.model.model%></h3>
                        <p class="price"><%=e.price%></p>
                        <img src="/images/cellphones/models/<%=e.model.mainImage%>" alt="<%= e.model.model %>">
                    </a>
                 </article>    
            <%}); %> 
            
        </section>
        
        <section class="soldContainer">
            <h2>Más Vendidos</h2>
        
            <% soldCellRandomize.forEach(e => { %> 
                
                <article class="soldProductContainer <%= soldCellRandomize.indexOf(e)%2 ==0 ? 'par' : 'impar'%> ">
                    <a href="/products/<%=e.id%>">
                        <h3 class="soldProductNombre"><%= e.model%></h3>
                        <img src="/images/cellphones/models/<%=e.mainImage%>" alt="<%= e.model%>">
                    </a>
                </article>
            
            <%  }); %>               
            
            
        </section>
        
        <section class="commentsContainer">
            <h2>Comentarios de Nuestros Clientes</h2>

            <article class="commentsCardContainer">
                <header class="commentsHeader">
                    <div class="commentsImgContainer"><img src="/images/teo.jpg" alt="Foto usuario perfil"></div>
                    <div class="commentsInfoContainer">
                        <h3 class="commentsNombre">Teo Gutierrez</h3>
                        <p class="commentsPais">Colombia</p>
                    </div>
                </header>
                <p class="comment">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias velit non quae tempora laborum."</p>
            </article>
            
            <article class="commentsCardContainer">
                <header class="commentsHeader">
                    <div class="commentsImgContainer"><img src="/images/oreiro.jpg" alt="Foto usuario perfil"></div>
                    <div class="commentsInfoContainer">
                        <h3 class="commentsNombre">Natalia Oreiro</h3>
                        <p class="commentsPais">Uruguay</p>
                    </div>
                </header>
                <p class="comment">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias velit non quae tempora laborum."</p>
            </article>            
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer') %>
    
    <script>
        function solucionMomentaria(){
            window.innerWidth>768 ? document.getElementsByClassName('loginFormContainer')[0].style.cssText = 'display:block;':''
        }
    </script>
<!-- Bootsrap scripts     -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>