<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <title>Intercel</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    
    <main>
        <a href="/products/list">Volver al Listado</a>
        <section class="productContainer">
            <article class="minorPhotosContainer">
                <% idDetail.images.forEach( e => {%>
                    <div><img src="<%= e %>" alt="Preview <%= idDetail.model %>"></div>
                <%}) %> 
                <!-- <div><img src="<%= idDetail.image %>" alt="Preview <%= idDetail.model %>"></div> -->
                <!-- <div><img src="<%= idDetail.image %>" alt="Preview <%= idDetail.model %>"></div> -->
                <!-- <div><img src="<%= idDetail.image %>" alt="Preview <%= idDetail.model %>"></div> -->
            
            </article>
            
            <article class="mainPhotoContainer">
            
                <div><img src="<%= idDetail.mainImage %>" alt="Celular  <%= idDetail.model %>"></div>
            
            </article>
                
            <article class="containerInformation">
                <div>
                    <h2 class="brand"><%= idDetail.brand %></h2>
                    <h1 class="phoneName"><%= idDetail.model %></h1>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dicta autem commodi eum consequatur deserunt. Qui vitae illo sint tempore accusamus? Cum blanditiis excepturi, nam perferendis doloribus consequatur nulla voluptatum.</p>
                
                <div class="bottomInfo">
                    <div class="containerPrice">
                        <h3>Precio</h3>
                        <p>US$ <%= idDetail.price %></p>
                    </div>
            
                    <button>Agregar al Carrito  <i class="fas fa-shopping-cart" id="carritoIconBody"></i></button>
                </div>
                <form  class= "bottomInfo" action="/products/<%=idDetail.id%>/editProduct" method="GET">
                   <button type="submit">Editar</button>
                </form>
                <form  class= "bottomInfo" action="/products/<%=idDetail.id%>?_method=DELETE" method="POST">
                   <button type="submit">Eliminar</button>
                </form>
                
            </article>
        
        </section>
        
        <section class="containerRelated">
            
            <div class="InformationRelated">
            <p class="brandRelated">Más de <span><%=idDetail.brand %></span></p>
            <div class="logoRelated"><img src="/images/logos/<%=idDetail.brand %>.svg" alt="Samsung Logo"></div>
            </div>

            <% relatedList.forEach(e => {%>
                <div class="photoContainerRelated">
                    <a href="/products/<%=e.id%>"><img src="<%=e.mainImage%>" alt="Preview <%=e.model%>"><p class="NameRelated"><%=e.model%></p></a>    
                </div>
            <%}); %>                
        
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>