<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <title>Intercel</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    
    <main>
        <a href="/products">Volver al Listado</a>
        <section class="productContainer">
            <article class="minorPhotosContainer">
            
                <div><img src="<%= idDetail.image %>" alt="Preview <%= idDetail.model %>"></div>
                <div><img src="<%= idDetail.image %>" alt="Preview <%= idDetail.model %>"></div>
                <div><img src="<%= idDetail.image %>" alt="Preview <%= idDetail.model %>"></div>
            
            </article>
            
            <article class="mainPhotoContainer">
            
                <div><img src="<%= idDetail.image %>" alt="Celular  <%= idDetail.model %>"></div>
            
            </article>
                
            <article class="containerInformation">
                <div>
                    <h2 class="brand"><%= idDetail.brand %></h2>
                    <h1 class="phoneName"><%= idDetail.model %></h1>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dicta autem commodi eum consequatur deserunt. Qui vitae illo sint tempore accusamus? Cum blanditiis excepturi, nam perferendis doloribus consequatur nulla voluptatum.</p>
                
                <div class="bottomInfo">
                    <div class="containerPrice">
                        <h3>Precio</h3>
                        <p>US$ <%= idDetail.price %></p>
                    </div>
            
                    <button>Agregar al Carrito  <i class="fas fa-shopping-cart" id="carritoIconBody"></i></button>
                </div>
                <form  class= "bottomInfo" action="/products/<%=idDetail.id%>/editProduct" method="GET">
                   <button type="submit">Editar</button>

                </form>
            </article>
        
        </section>
        
        <section class="containerRelated">
            
            <div class="InformationRelated">
            <p class="brandRelated">Más de <span><%=idDetail.brand %></span></p>
            <div class="logoRelated"><img src="/images/logos/<%=idDetail.brand %>.svg" alt="Samsung Logo"></div>
            </div>

            <div class="photoContainerRelated">
                
                <a href="/productDetail"><img src="/images/cellphones/samsung/A71/a71-1.png" alt="Preview Celular 2"><p class="NameRelated">A71</p></a>
            </div>
            <div class="photoContainerRelated">
                <a href="/productDetail"><img src="/images/cellphones/samsung/S20/s20-1.png" alt="Preview Celular 3"><p class="NameRelated">S20</p></a>
            </div>
        
        </section>
    
    
    
    
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer') %>

</body>
</html>