<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/products.css">

    <title>Products</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    
    <main>
        <p class="blueBar">
                
            <% if (locals.error != undefined){%>

                <span class="errorMsg"> <%=error.userValue.msg %></span>


            <% } %> 
        </p>
        
        <div class="title">
            <h2>Productos</h2>
            <p><%=brand%></p>
        </div>
        <section class="products">
                
            <% productList.forEach( e => {%>
                <article>
                <a href="/products/<%=e.id%>">
                    <div class="imgContainer">
                        <img src="<%= e.mainImage %>" alt="<%= e.model %>">
                        
                        <% e.images.forEach(i => { %>
                            
                            <img src="<%= i %>" alt="<%= e.model %>" class="secImages">   
                        
                        <%}); %> 
                    
                    </div>
                    
                    <div class="productFeatures">
                        <h3><%= e.model %></h3>
                        <p><%= e.brand %></p>
                        <ul>
                            <li><%= e.color %></li>
                            <li><%= e.ram %></li>
                        </ul>
                    </div>
  
                    <div class="productPrice">
                        <h3>Precio</h3>
                        <p>US$<%= e.price %></p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </a>
                </article>
 
            <%}); %> 
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>