<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/profile.css">

    <!-- JS front search (todas las vistas) -->
    <script src="/js/searchBar.js"></script>

    <title>Intercel - Profile</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        
        <div class="mainHeader">
            <h2>Mi Perfil</h2>
            <div class="myProfile">
                <h3><%=locals.logged.name%> </h3>
                <div class="circle">
                    <img src="<%=locals.logged.photo%>" alt="">
                </div>    
            </div>
        </div>
        

        <div class="accountInfo">
            <h3>Datos de la cuenta</h3>  
            <div class="accountInfoBigBox">        
                <div class="accountInfoBox">
                    <h5>Nombre completo:</h5>
                    <p><%=locals.logged.name + " " +locals.logged.lastName %></p>
                </div>
                <a href="#">Editar</a>
            </div>  
            <div class="accountInfoBigBox">
                <div class="accountInfoBox">
                    <h5>E-mail:</h5>
                    <p><%=locals.logged.email%></p>
                </div>
                <a href="#">Editar</a>
            </div>
            <div class="accountInfoBigBox">
                <div class="accountInfoBox">
                    <h5>Teléfono:</h5>
                    <p><%=locals.logged.phoneNumber%></p>
                </div>
                <a href="#">Editar</a>
            </div>
            
        </div>
        
        <div>
            <div  class="backButton"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>
        </div>
        

    </main>
</body>
</html>