<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Intercel</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2><%=locals.logged.name%> </h2>
        <h2><%=locals.logged.lastName%> </h2>
        <img src="<%=locals.logged.photo%>" alt="">
    </main>
</body>
</html>