<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <title>Intercel - Registrarse</title>
    <link rel="stylesheet" href="/css/loginRegister.css">
    <script src="/js/register.js"></script>
</head>
<body>      
    <div  class="backButton"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>

    <main>        
        <div class="container">
        <a href="/"> <img src="/images/logos/Logo.svg" width="200"> </a>
        <h2>Registrarse</h2>
                
            <form class="createForm" action="/users" method="POST" enctype="multipart/form-data">
                <div  class="registerWith" >
                    <div><button class="registerGoogle"><i class="fab fa-google"></i>    Registrate con Google </button></div>
                    <div><button class="registerFacebook"><i class="fab fa-facebook-f"></i>    Registrate con Facebook </button></div>
                </div>
                <br>
                <div class="formControl">
                    <label>Nombre</label>
                    <input id="name" type="text" name="name" class="control" value="<%= locals.errors && valuesFromUser ? valuesFromUser.name : ''%>">
                    <p id="nameError" class="errorMsg"> <%= (locals.errors && errors.name) ? errors.name.msg : ''%> </p>
                    
                </div>
                <div class="formControl">
                    <label>Apellido</label>
                    <input id="lastName" type="text" name="lastName" class="control" value="<%= locals.errors && valuesFromUser ? valuesFromUser.lastName : ''%>">
                    <p id="lastNameError" class="errorMsg"> <%= (locals.errors && errors.lastName) ? errors.lastName.msg : ''%> </p>
                    
                </div>
                <div class="formControl">
                    <label>Teléfono</label>
                    <input id="phoneNumber" type="tel" name="phoneNumber" class="control" value="<%= locals.errors && valuesFromUser ? valuesFromUser.phoneNumber : ''%>">
                    <p id="phoneNumberError" class="errorMsg"> <%= (locals.errors && errors.phoneNumber) ? errors.phoneNumber.msg : ''%> </p>
                </div>
                <div class="formControl">
                    <label>Correo electrónico</label>
                    <input id="email" type="email" name="email" class="control" value="<%= locals.errors && valuesFromUser ? valuesFromUser.email : ''%>">
                    <p id="emailError" class="errorMsg"> <%= (locals.errors && errors.email) ? errors.email.msg : ''%> </p>
                
                </div>
                <div class="formControl">
                    <label>Contraseña</label>
                    <input id="password"  type="password" name="password" class="control">
                    <p id="passwordError" class="errorMsg"> <%= (locals.errors && errors.password) ? errors.password.msg : ''%> </p>
                    
                </div>
                <div class="formControl">
                    <label>Avatar</label>
                    <input type="file" name="photo" class="control" accept=".jpg, .png">
                </div>
                <button type="submit" class="formButton">Registrarse</button>
                <p id="formError" class="errorMsg"> '' </p>
                
                <div class="texts">Ya tienes cuenta?<a href="login"> Iniciar sesión</a></div>
                
            </form>

        </div>

    </main>


</body>

</html>
